<!DOCTYPE html>

<html lang="en">
    <head>
       
         <title>
            গীতিকার
        </title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="http://www.w3schools.com/appml/2.0.2/appml.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    
    <body>
        {# সার্চবার আর শিরোনাম যোগ করা হলো #}
        <div>{% include "search_form_page.html" %}</div>
        
        {# বর্ণ তালিকা যুক্ত করা হল #}
        <div class="header center">
            {% include "alphabet_list_iso.html" %}
        </div>

        {# তালিকা #}
        
        <div class="container center">
            <h3>{{shilpi}}</h3>
            <div class="jumbotron center">
                <div class="row center">
                    
                    {% if gitikar %}
                    <div class="col-sm-2 center">
                        <ul class="list-group">
                            <li class="list-group-item active">গান লিখেছেন</li>
                            {%for i in gitikar %}
                            <a href="http://{{web_adress}}/gaan/{{i.id}}" class="list-group-item">{{i}}</a>
                            {%endfor%}
                        </ul>
                    </div>
                    {% endif %}


                     {% if voice %}
                    <div class="col-sm-2 center">
                        <ul class="list-group">
                            <li class="list-group-item active">গান গেয়েছেন</li>
                            {% for i in voice %}
                            <a href="http://{{web_adress}}/album/{{i.id}}" class="list-group-item">{{i}}</a>
                            {%endfor%}
                        </ul>
                    </div>
                    {% endif %}

                    {% if lead %}
                    <div class="col-sm-2 center">
                        <ul class="list-group">
                            <li class="list-group-item active">লিড বাজিয়েছেন</li>
                            {% for i in lead %}
                            <a href="http://{{web_adress}}/album/{{i.id}}" class="list-group-item">{{i}}</a>
                            {%endfor%}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>