<!DOCTYPE html>
<html>
<head>
  <title>amarprithibi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://www.w3schools.com/appml/2.0.2/appml.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #ecf0f1; color:#34495e;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #ecf0f1;color:#34495e;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ecf0f1;color:#34495e;}
  #section4 {padding-top:50px;height:500px;color: #fff; background-color: #ecf0f1;color:#34495e;}
  #section5 {padding-top:50px;height:500px;color: #fff; background-color: #ecf0f1;color:#34495e;}
 </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"> আমার পৃথিবী </a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1" active="myFunction()">কোথায়</a></li>
          <li><a href="#section2">প্রার্থনাদ</a></li>
          <li><a href="#section3">অভিমান</a></li>
<li><a href="#section4">অন্ধকারের পাশে</a></li>
<li><a href="#section5">মিথ্যা</a></li>
<li><a href="#section6">মানুষ</a></li>
<li><a href="#section6">কোথাও</a></li>
<li><a href="#section6">কবর</a></li>
<li><a href="#section6">এখনও</a></li>
<li><a href="#section6">বিক্ষত</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="section1" class="container-fluid">
<div>
  <h1 id="demo1"></h1>
</div>
<div>
  <p id="demo"></p>
</div>
<div id="lyrisist">
  <p></p>
</div>
<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section3" class="container-fluid">
  <h1>Section 3</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section4" class="container-fluid">
  <table appml-data="customers.js">
<tr>
  <th id="H">HEADING</th>
  <th>BODY</th>
</tr>
<tr appml-repeat="records">
  <td id="heading">{{HEADING}}</td>
  <td id="body">{{BODY}}</td>
</tr>
</table>
</div>

<script>
function myFunction(){
var str = document.getElementById("body").innerHTML;
var str1 = document.getElementById("heading").innerHTML;
var y = str.valueOf();
var z = str1.valueOf();
document.getElementById("demo").innerHTML = y;
document.getElementById("demo1").innerHTML = z;
}</script>
</body>
</html>
