<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("body").keypress(function(){
        if (window.event.keyCode == 13){
        $(".search_box_initial").addClass("search_box_anim").focus();}
            else {
           $(".search_box_initial").addClass("search_box_anim").focus();
        }
    });
});
</script>

    <script>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    
<div class="flex-container">
  <h1>গীতিকার</h1>
 </div>

    

    {% if error %}
        <p class="search_instruction">অনুসন্ধানের জন্য লিখতে শুরু করুন</p>
    {% endif %}
        </div>
    
    <form action="/search/" method="get">
        <input type="text" name="q" class="search_box_initial">
    </form>

      

</body>
</html>